<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1035469091979-6skqvr1abh7l2506r7077jopkfjbmamb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1035469091979-6skqvr1abh7l2506r7077jopkfjbmamb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1035469091979-c6h36h5hc76dh6f8ndpm5t9h8apms155.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD6Uw7nUvriYXo4CdugSFdyLTJrVO2dOno</string>
	<key>GCM_SENDER_ID</key>
	<string>1035469091979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.lostify</string>
	<key>PROJECT_ID</key>
	<string>lostify-777d0</string>
	<key>STORAGE_BUCKET</key>
	<string>lostify-777d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035469091979:ios:4ecc82583dab0c55d6508e</string>
</dict>
</plist>